.col-md-3
  %ul.nav.nav-tabs
    %li.active
      =link_to 'Активность', '#'
    %li
      =link_to 'Новости', '#'

  .imperfection_journal
    =link_to 'Иван Орлов', '#'
    добавил свое
    =link_to 'несовершенство', '#'
    %small 12.13.2014
  .imperfection_journal
    =link_to 'Мирон Левин', '#'
    добавил свое
    =link_to 'несовершенство', '#'
    %small 11.13.2014
  .imperfection_journal
    =link_to 'Сергей Паратов', '#'
    добавил свое
    =link_to 'несовершенство', '#'
    %small 23.13.2014
  .imperfection_journal
    =link_to 'Панкрат Свидригайлов', '#'
    добавил свое
    =link_to 'несовершенство', '#'
    %small 01.13.2014
  .imperfection_journal
    =link_to 'Иван Орлов', '#'
    добавил свое
    =link_to 'несовершенство', '#'
    %small 12.13.2014
  .imperfection_journal
    =link_to 'Мирон Левин', '#'
    добавил свое
    =link_to 'несовершенство', '#'
    %small 11.13.2014
  .imperfection_journal
    =link_to 'Сергей Паратов', '#'
    добавил свое
    =link_to 'несовершенство', '#'
    %small 23.13.2014
  .imperfection_journal
    =link_to 'Панкрат Свидригайлов', '#'
    добавил свое
    =link_to 'несовершенство', '#'
    %small 01.13.2014
  .imperfection_journal
    =link_to 'Иван Орлов', '#'
    добавил свое
    =link_to 'несовершенство', '#'
    %small 12.13.2014
  .imperfection_journal
    =link_to 'Мирон Левин', '#'
    добавил свое
    =link_to 'несовершенство', '#'
    %small 11.13.2014
  .imperfection_journal
    =link_to 'Сергей Паратов', '#'
    добавил свое
    =link_to 'несовершенство', '#'
    %small 23.13.2014
  .imperfection_journal
    =link_to 'Панкрат Свидригайлов', '#'
    добавил свое
    =link_to 'несовершенство', '#'
    %small 01.13.2014