#modal2.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Сбор несовершенств
      .modal-body
        Выявлять все несовершенства одно за другим, а затем продумывать корректировку каждого из них по отдельности крайне неэффективно. К тому же, нередко частную проблему невозможно разрешить, не сняв более общую, включающую ее проблему. Зато, если решить общую проблему, то все входящие в нее частные проблемы будут разрешены. Так что разумно сразу искать максимально широкие несовершенства. (Максимально широкое несовершенство – это такое, по отношению к которому не существует еще более широкого, включающего его несовершенства.) Ведь, если скорректировать максимально широкие несовершенства, то окажутся скорректированными и все остальные, поскольку каждое из них должно входить в какое-то из максимальных.
        %br
        %br
        %br
        Является ли формулировка несовершенства
        %code
          Все везде плохо
        правильной?
        .radio
          %label
            %input(type="radio" value="")
            Да, вполне
        .radio
          %label
            %input(type="radio" value="")
            Нет, по этой не формулировке не понятно, что собственно делать с проблемой
        .radio
          %label
            %input(type="radio" value="")
            Нет, она слишком коротка

      .modal-footer

        %button.btn.btn-primary(type = "button" data-dismiss="modal") Ответить и приступить к работе!
